/* #D5FFB1,	rgb(213, 255, 177) #8BB468, 	rgb(139, 180, 104)  #FD3DA0, 	rgb(158, 25, 94) ,#9E195E,#FFA5D4,#D5FFB1,#8BB468,#FD3DA0 */
@font-face {
  font-family: 'CustomFont';
  src: url('imgs/fonts/INVADER.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, html {height: 100%}
body,h1,h2,h3,h4,h5,h6 {font-family: "CustomFont", sans-serif}

.grease {
  color: #fff;
  font-size: 80px;
}

.fs-2 {
  font-family: 'Roboto' ;
}

.grease-hide {
  background: #FD3DA0;
  border: 3px solid #D5FFB1;
}


/* Custom styles for Navbar */
.opacity-hover-off {
  background-color: rgba(158, 25, 94,0.5) ;
}

.opacity-hover-off:hover {
  background-color: rgba(158, 25, 94,1) ;
}

.navbar-nav .nav-link {
  color: white ;
  font-size: 2rem;  
}

.navbar-nav .nav-link:hover {
  background-color: #FD3DA0 ;
  color: black ;
}

.tablink {
  text-decoration: none;
}

#contact {
  background: #c6b0bc;
}

#feelTheGrease, .grease-hide {
  font-family: 'Freckle Face';
  background-color: #FD3DA0;
  border: 2px solid #c6b0bc;
}
.char-reviews {
 background-color: #D5FFB1;
 text-align: center;
 color: #000;
 font-family: 'Roboto';
 font-size: 2.2rem;
 height: 30dvh;
 margin: 15px 10px 0 10px;
 padding: 20px 10px 0 10px;
 border: 1px solid #FD3DA0;
 border-radius: 5px;


}

/* .characters {
  background: #c6b0bc;
  margin-left: 120px;
  height: 100%;
} */



/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Hide on small screens */
@media (max-width: 992px) {
  #myNavbar {
    display: none;
  }
}

/* Custom styles for Header */
.bg-img {
  background-image: url('imgs/BloatlyPizzaHog14Cover.webp');
  background-size:cover;
  background-position:center top ;
  min-height: 100vh;
  color: black;
}
.bg-gif {
  background-image: url('imgs/bloatyWants.gif');
  background-size:cover;
  background-position:center top 90% ;
  min-height: 100vh;
  color: black;
}



.btn {
  min-width: 250px;
}

/*Custom styles for Menu box*/
.btn.hover-btn:hover {
  background-color: #D5FFB1;
  color: #FD3DA0;
  text-decoration: #FD3DA0;
}

.bg-black {
  background-color: black;
}


.hover-red:hover {
  background-color: rgba(158, 25, 94, 0.461);
  color: white;
}

.active-tab {
  background-color: #9E195E;
  color: white;
}

.border-dark {
  border-color: dark-grey;
}

.badge {
  padding: .6em .8em;
}

.small-tag {
  padding: .3em .3em;
}

.bg-red {
  background-color: red;
  color: white;
}

.bg-grey {
  background-color: grey;
}

.menu h1 {
  color: black;
}

/* Custom CSS for greyscale images */
.img-greyscale {
  filter: grayscale(100%);
}

/*XL form boxes*/
.extra-large {
  height: 60px;
  font-size: 1.8rem;
}

@media screen and ((min-width:421px) and (max-width:820px)) {
   .bg-img {
  background-image: url('imgs/BloatlyPizzaHog14Cover.webp');
  background-size:cover;
  background-position:center left ;
  min-height: 100vh;
  color: black;
}
  .grease {
    margin-top: 25px;
  font-size: 4rem;
  font-weight: 600;
}

.grease-hide {
  display: none;
}

.dropdown-menu-center {
   left: 50% !important; 
  transform: translateX(-50%); 
  background: #c6b0bc;
 border: 2px solid #D5FFB1;
}
.dropdown-item {
   color: #000;
   font-size: 30px;
}

.dropdown-border {
  border: 2px solid #D5FFB1;
}

.bloaty {
  height: 40vh;
  width: 300px;
}

.characters {
  margin-right: 20px;
  margin-left: 20px;
  background: #c6b0bc;
  
}

.char-reviews {
  font-size: 2rem;
}
}

footer a  {
  text-decoration: none;
}



/* For Phone */
@media(max-width: 420px){
 .bg-img {
  background-image: url('imgs/BloatlyPizzaHog14Cover.webp');
  background-size:cover;
  background-position:center left 15% ;
  min-height: 100vh;
  color: black;
}

.dropdown-menu-center {
   left: 50% !important; 
  transform: translateX(-50%); 
  background: #c6b0bc;
 border: 2px solid #D5FFB1;
}
.dropdown-item {
   color: #000;
   font-size: 30px;
}

.dropdown-border {
  border: 2px solid #D5FFB1;
}

  .grease {
  margin-top: 29px;
  padding-top: 40px;
  font-size: 4rem;
  font-weight: 600;
}

.grease-hide {
  display: none;
}

.characters {
  background: #c6b0bc;
 margin-left: 69px;
  height: 150px;
  
}

.char-reviews {
  margin: 5px 20px 0 10px ;
  font-size: 1.4em;
}



.bg-gif {
  background-image: url('imgs/bloatyWants.gif');
  background-size:contain;
  background-repeat: no-repeat;
  background-position:center;
  min-height: 100vh;
  color: black;
  background-color: #c6b0bc;
}

.fs-3 {
  font-size: 20px !important;
}
}